<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="communal/admin/header :: header"></div>
</head>
<body>

<div class="container-fluid">
    <div class="row clearfix">
        <h3 class="text-center text-success">
            日志列表
        </h3>
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-2 column">
                    <div th:include="communal/admin/nav::nav"></div>
                </div>
                <div class="col-md-10 column">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>
                                编号
                            </th>
                            <th>
                                类目
                            </th>
                            <th>
                                简介
                            </th>
                            <th>
                                创建时间
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="article,userStat: ${articles.data.list}">
                            <!--每次翻页都会刷新当前页的序号-->
                            <td th:text="${article.getId()}"></td>
                            <!--如果是对象的话 会自动识别的-->
                            <td th:text="${article.getSort()}">
                            </td>
                            <td th:text="${article.getDescription()}">
                            </td>
                            <td th:text="${#dates.format(article.getCreateTime(), 'yyyy-MM-dd HH:mm:SS')}">
                            </td>
                            <td>
                                <a type="button" class="btn btn-default" target="_blank" th:href="@{'/admin/index/article/'+${article.getId()}}">
                                    <span class="glyphicon glyphicon-list-alt"></span> 展示
                                </a>
                                <a type="button" class="btn btn-default" target="_blank" th:href="@{'/admin/articleDetail/'+${article.getId()}}">
                                    <span class="glyphicon glyphicon-pencil"></span> 编辑
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="clearfix">
                        <ul class="pagination m-b-5">
                            <li th:if="${articles.data.hasPreviousPage}"><a
                                    th:href="@{'/admin/index/'+${userId}+'/'+${articles.data.prePage}+'/10'}"
                                    aria-label="Previous"> <i class="fa fa-angle-left"></i>&nbsp;上一页
                            </a></li>

                            <th:block th:each="nav : ${articles.data.navigatepageNums}">
                                <li th:class="${nav==articles.data.pageNum}?'active':''"><a
                                        th:href="@{'/admin/index/'+${userId}+'/'+${nav}+'/10'}"
                                        th:text="${nav}"></a></li>
                            </th:block>

                            <th:block th:if="${articles.data.hasNextPage}">
                                <li><a
                                        th:href="@{'/admin/index/'+${userId}+'/'+${articles.data.nextPage}+'/10'}"
                                        aria-label="Next"> 下一页&nbsp;<i class="fa fa-angle-right"></i>
                                </a></li>
                            </th:block>

                            <li><span th:text="'共'+${articles.data.pages}+'页/每页'+${articles.data.pageSize}+'条'"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


</body>
</html>