<!--
  @Description: TODO 
 
  @Author    何亚培
  @Version   V1.0  
  @Date      2019/7/21 17:31 
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>页脚</title>
    <script th:src="@{/static/js/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
    <!--<script th:src="@{/static/js/jquery.slim.min.js}"></script>-->
    <script th:src="@{/static/js/popper.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
</head>
<body>
<!--footer-->
<div th:fragment="footer">
    <div id="footer" class="container" style="padding-top: 10px;padding-bottom: 30px">
        <footer class="row mt-5 mb-5">
            <div class="col-lg-12">
                <p class="text-center tm-text-gray tm-copyright-text mb-0">Copyright &copy;
                    <span class="tm-current-year">2019</span> ShangHaiQingPu

                    | Design: <a href="https://github.com/heyapei/springbootblog" class="tm-text-white" target="_blank">springbootblog</a>
                </p>
            </div>
        </footer>
    </div>

</div>
</body>
</html>