<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>文章编辑</title>
    <!-- 设置全屏功能的css文件 -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/wangEditor-fullscreen-plugin.css}"></link>
    <script th:src="@{/static/js/jquery.js}"></script>
    <!--<script th:src="@{${#httpServletRequest.getContextPath()}+'/js/wangEditor.min.js'}"></script>-->
    <script th:src="@{/static/js/wangEditor.min.js}"></script>
    <!-- 设置全屏功能的js文件 -->
    <script th:src="@{/static/js/wangEditor-fullscreen-plugin.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
    <script src="/static/js/jquery.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <script>
        /*编辑器编辑后，提交时执行js，获得编辑器的内容，赋值给textarea，用于向后台提交存入数据库*/
        function modifyContent() {
            var introduce = document.getElementById("article");
            introduce.value = editor.txt.html();
        }
    </script>
</head>
<body>
<div class="container">
    <h2>您已经进入文章编辑界面</h2>
    <input type="text" th:value="${article?.getSort()}">
    <input type="text" th:value="${article?.getArticleContent()}">
    <!--<span th:text="${article}">US</span>-->
    <form action="/admin/addArticle" method="post" onsubmit="modifyContent()">
        <input type="text" th:value="${article?.getId()}">
        <div class="form-group">
            <label for="title">文章标题</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="文章标题"
                   th:value="${article?.getTitle()}">
        </div>
        <div class="form-group">
            <label for="sort">栏目</label>
            <select class="form-control" id="sort" name="sort">
                <option value="0">学习</option>
                <option value="1">生活</option>
            </select>
        </div>
        <div class="form-group">
            <label for="showOrder">显示规则</label>
            <select class="form-control" id="showOrder" name="showOrder">
                <option value="0" th:selected="${article?.getShowOrder() eq 0}">正常显示</option>
                <option value="1" th:selected="${article?.getShowOrder() eq 1}">置顶显示</option>
            </select>
        </div>
        <div class="form-group">
            <label for="desci">简介</label>
            <textarea class="form-control" id="desci" rows="3" name="description" placeholder="简介"
                      th:text="${article?.getDescription()}"></textarea>
        </div>


        <div id="editor">
            <p>记录点什么吧。</p>
        </div>

        <!-- 编辑器编辑，提交时执行js，获得编辑器的内容，赋值给textarea，用于向后台提交存入数据库 -->
        <textarea rows="5" cols="35" name="article" style="display:none;" id="article"></textarea>
        <input id="submitArticleContent" th:value="${article?.getArticleContent()}" type="hidden">
        <script type="text/javascript">
            var E = window.wangEditor;
            var editor = new E('#editor');
            //开启debug模式
            editor.customConfig.debug = true;
            // 关闭粘贴内容中的样式
            editor.customConfig.pasteFilterStyle = false
            // 忽略粘贴内容中的图片
            editor.customConfig.pasteIgnoreImg = true
            // 使用 base64 保存图片
            //editor.customConfig.uploadImgShowBase64 = true
            editor.customConfig.uploadFileName = "file";
            editor.customConfig.uploadImgServer = '/fileUpload';
            editor.customConfig.debug = true;
            //自定义上传图片事件
            editor.customConfig.uploadImgHooks = {
                before: function (xhr, editor, files) {

                },
                success: function (xhr, editor, result) {
                    console.log("上传成功");
                },
                fail: function (xhr, editor, result) {
                    console.log("上传失败,原因是" + result);
                },
                error: function (xhr, editor) {
                    console.log("上传出错");
                },
                timeout: function (xhr, editor) {
                    console.log("上传超时");
                },
                customInsert: function (insertImg, result, editor) {
                    // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
                    // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果
                    // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
                    var url = result.url;
                    insertImg(url)
                    // result 必须是一个 JSON 格式字符串！！！否则报错
                }
            };
            // 或者 var editor = new E( document.getElementById('editor') )
            editor.create()
            E.fullscreen.init('#editor');
            /*回显*/
            var introduce = $(" #submitArticleContent ").val();
            if (introduce != null) {
                editor.txt.html(introduce);
            }
        </script>
        <br/>
        <input type="submit" class="am-btn am-btn-primary">
    </form>
</div>
<!--加载页脚-->
<div th:include="communal/footPage :: footer"></div>
</body>

</html>