<!--
  @Description: TODO 
 
  @Author    何亚培
  @Version   V1.0  
  @Date      2020/1/2 9:35 
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
    <!---//webfonts--->
    <!-- Nav CSS -->
    <link href="/static/shoes/css/custom.css" rel="stylesheet">
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/shoes/js/metisMenu.min.js"></script>
    <script src="/static/shoes/js/custom.js"></script>
    <!-- Graph JavaScript -->
    <script src="/static/shoes/js/d3.v3.js"></script>
    <script src="/static/shoes/js/rickshaw.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!--数据图形化插件-->
    <script type="text/javascript" charset="utf-8" src="/static/echarts/echarts.min.js"></script>

    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Custom CSS -->
    <link href="/static/shoes/css/style.css" rel='stylesheet' type='text/css'/>
    <!-- Graph CSS -->
    <link href="/static/shoes/css/lines.css" rel='stylesheet' type='text/css'/>


</head>
<body>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="graphs">
                <div class="col_3">
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-thumbs-up icon-rounded"></i>
                            <div class="stats">
                                <h5><strong th:text="${todayData['todayOrderCount']}">0</strong></h5>
                                <span>购买人数</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-thumbs-up icon-rounded"></i>
                            <div class="stats">
                                <h5><strong th:text="${todayData['orderItemSize']}">0</strong></h5>
                                <span>售出鞋子数量</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 widget">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-dollar dollar1 icon-rounded"></i>
                            <div class="stats">
                                <h5><strong th:text="'￥'+${todayData['todayMoney']}">￥0</strong></h5>
                                <span>交易金额</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="content_bottom">
                    <div class="clearfix"></div>
                </div>

            </div>

            <div class="graphs">

                <div class="col-md-6">
                    <!--天气数据-->
                    <div>
                        <p class="text-center" id="weatherTip">
                            正在查询天气数据！
                        </p>
                    </div>

                    <!--图表内容-->
                    <div id="weather" style="width: 100%;height: 400px">

                    </div>
                </div>

                <!--销售数据-->
                <div class="col-md-6">

                    <div>
                        <p class="text-center" id="hotSaleTip">
                            正在查询热销数据！

                        </p>
                    </div>

                    <!--图表内容-->
                    <div id="hotSale" style="width: 100%;height: 400px">

                    </div>

                </div>
                <!--销售额数据-->
                <!--<div class="col-md-3 ">

                    <div>
                        <p class="text-center">
                            销售额数据丢失，联系我吧！(●'◡'●)
                        </p>
                    </div>

                    &lt;!&ndash;图表内容&ndash;&gt;
                    <div id="SalesVolume" style="width: 100%;height: 400px">

                    </div>

                </div>-->

            </div>

        </div>


    </div>
</div>


</body>

<script>

    $(function () {
        /*天气情况*/
        weatherChart();
        saleChart(1);
    })


    function saleChart(countDate) {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('hotSale'));
        myChart.showLoading();

        $.ajax({
            type: "GET",
            url: "/home/getHotSale?countDate=" + countDate,
            timeout: 5000,
            success: function (data) {

                var productName = data.productName;
                var countNum = data.countNum;
                var tips = data.tips;
                var tip = tips[0];
                // 显示提示
                document.getElementById("hotSaleTip").innerHTML = tip + "<div class=\"btn-group\">\n" +
                    "<button class=\"btn btn-default\">范围值</button> <button data-toggle=\"dropdown\" class=\"btn btn-default dropdown-toggle\"><span class=\"caret\"></span></button>" +
                    "<ul class=\"dropdown-menu\">" +
                    "<li>" +
                    " <a href=\"#\" onclick='saleChart(1)'>本周数据</a>" +
                    "</li>" +
                    "<li>" +
                    "<a href=\"#\" onclick='saleChart(6)'>本月数据</a>" +
                    "</li>" +
                    "<li>" +
                    "<a href=\"#\" onclick='saleChart(2)'>上个月数据</a>" +
                    "</li>" +
                    "<li>" +
                    "<a href=\"#\" onclick='saleChart(7)'>最近三个月数据</a>" +
                    "</li>" +
                    "<li>" +
                    "<a href=\"#\" onclick='saleChart(3)'>今年数据</a>" +
                    "</li>" +
                    "<li class=\"divider\">" +
                    "</li>" +
                    "<li>" +
                    "<a href=\"#\" onclick='saleChart(4)'>去年数据</a>" +
                    "</li>" +
                    "<li>" +
                    "<a href=\"#\" onclick='saleChart(5)'>全部数据</a>" +
                    "</li>" +
                    "</ul>" +
                    "</div>";
                var option = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: {
                        type: 'value',
                        boundaryGap: [0, 0.01]
                    },
                    yAxis: {
                        type: 'category',
                        data: productName
                    },
                    series: [
                        {
                            name: '销售量',
                            type: 'bar',
                            data: countNum
                        }
                    ]
                };


                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
                myChart.hideLoading();
                window.addEventListener("resize", function () {
                    myChart.resize();
                });

            },
            error: function (data, type, err) {  // 以下依次是返回过来的数据，错误类型，错误码
                console.log("ajax错误类型：" + type);
                console.log(err);
            }
        });
    }

    function weatherChart() {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('weather'));
        myChart.showLoading();

        $.ajax({
            type: "GET",
            url: "/home/getWeather",
            timeout: 5000,
            success: function (data) {
                var datum = data[0];
                var week = datum.week;
                var sunrise = datum.sunrise;
                var sunset = datum.sunset;
                var fx = datum.fx;
                var fl = datum.fl;
                var notice = datum.notice;
                var tip = "今天是" + week + ",日出/落时间" + sunrise + "-" + sunset + "," + fx + "(" + fl + ")<br/><b style='color: darkorange'>" + notice + "</b>";
                // 显示提示
                document.getElementById("weatherTip").innerHTML = tip;


                // 渲染图表
                var date = [];
                var highTemp = [];
                var lowTemp = [];

                for (var i = 0, l = data.length; i < l; i++) {
                    var weather = data[i];
                    var ymd = weather.ymd;
                    date.push(ymd);
                    var high = weather.high;
                    highTemp.push(high);
                    var low = weather.low;
                    lowTemp.push(low);
                }

                var option = {
                    tooltip: {
                        trigger: 'axis'/*,
                    formatter: function (a) {
                        return ('数据名称:' + date['name']);
                    }*/
                    },
                    legend: {
                        data: ['最高气温', '最低气温']
                    },
                    /* toolbox: {

                         show: true,
                         feature: {
                             saveAsImage: {}
                         }
                     },*/
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: date
                    },
                    yAxis: {
                        type: 'value',
                        axisLabel: {
                            formatter: '{value} °C'
                        }
                    },
                    series: [
                        {
                            name: '最高气温',
                            type: 'line',
                            data: highTemp,
                            markPoint: {
                                data: [
                                    {type: 'max', name: '最大值'},
                                    {type: 'min', name: '最小值'}
                                ]
                            },
                            markLine: {
                                data: [
                                    {type: 'average', name: '平均值'}
                                ]
                            }
                        },
                        {
                            name: '最低气温',
                            type: 'line',
                            data: lowTemp,
                            markPoint: {
                                data: [
                                    {type: 'max', name: '最大值'},
                                    {type: 'min', name: '最小值'}
                                ]
                            },
                            markLine: {
                                data: [
                                    {type: 'average', name: '平均值'}
                                ]
                            }
                        }
                    ]
                };


// 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
                myChart.hideLoading();
                window.addEventListener("resize", function () {
                    myChart.resize();
                });

            },
            error: function (data, type, err) {  // 以下依次是返回过来的数据，错误类型，错误码
                console.log("ajax错误类型：" + type);
                console.log(err);
            }
        });
    }
</script>

</html>