<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>票据管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="票据管理系统"/>
    <link href="/static/favicon/myoperation/index.ico" mce_href="/static/favicon/myoperation/index.ico" rel="icon"
          type="image/x-icon">
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <!-- <link href="/static/shoes/css/style.css" rel='stylesheet' type='text/css'/>-->
    <!-- Graph CSS -->
    <!--<link href="/static/shoes/css/lines.css" rel='stylesheet' type='text/css'/>-->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!---//webfonts--->
    <!-- Nav CSS -->
    <!-- <link href="/static/shoes/css/custom.css" rel="stylesheet">-->
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/shoes/js/metisMenu.min.js"></script>
    <script src="/static/shoes/js/custom.js"></script>
    <!-- Graph JavaScript -->
    <script src="/static/shoes/js/d3.v3.js"></script>
    <script src="/static/shoes/js/rickshaw.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                            class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="javascript:window.location.reload();" title="进入首页面">管理系统</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户管理<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/home/userInfoByPage" target="targetFrame">用户查询</a>
                                </li>

                                <li class="divider">
                                </li>
                                <li>
                                    <a href="/home/addUserInfo" target="targetFrame">添加用户</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">商品管理<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/home/productInfoByPage" target="targetFrame">商品查询</a>
                                </li>
                                <li class="divider">
                                </li>


                                <li>
                                    <a href="/home/addProductInfo" target="targetFrame">添加新商品</a>
                                </li>
                            </ul>

                        </li>
                    </ul>

                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">订单管理<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">

                                <li>
                                    <a href="/home/orderInfoByPage" target="targetFrame">订单查询</a>
                                </li>

                                <li class="divider">
                                </li>

                                <li>
                                    <a href="/home/orderItemInfoByPage" target="targetFrame">订单详情查询</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="/home/dataStatistics" target="targetFrame" class="dropdown-toggle">数据统计</a>
                            <!--<ul class="dropdown-menu">

                                <li>
                                    <a href="/home/orderInfoByPage" target="targetFrame">订单查询</a>
                                </li>

                                <li class="divider">
                                </li>

                                <li>
                                    <a href="/home/orderItemInfoByPage" target="targetFrame">订单详情查询</a>
                                </li>
                            </ul>-->
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                               th:text="${shoesSystem?.getRealName()}+'！工作快乐'"><strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">

                                <li class="divider">
                                </li>
                                <li>
                                    <a href="/home/loginOut">退出系统</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>


        <div class="col-md-12 column embed-responsive embed-responsive-16by9">
            <iframe name="targetFrame" id="targetFrame" class="embed-responsive-item" src="/home/indexCount"></iframe>
        </div>

        <div class="copy_layout login" style="padding:1.5em 0;background:#fff;text-align:center;margin: 4em 0 0em 0;">
            <p>Copyright © 2020. All Rights Reserved | Design by hyp</p>
        </div>
    </div>
</div>


<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
